::ng-deep .iri-badge .mat-badge-content {
  background-color: #3b82f6; /* blue */
  color: white;
}

::ng-deep .literal-badge .mat-badge-content {
  background-color: #10b981; /* green */
  color: white;
}